main {
  padding: 30px;
}

@media screen and (min-width: 1100px) /* Desktop */ {
  main {
    font-size: 120%;
  }
}

@media screen  and (max-width: 800px) /* Tablet */ {
  main {
    font-size: 100%;
  }
}

@media screen and (max-width: 400px) /* Mobile */ {
  main {
    font-size: 80%;
  }
}

p {
  font-family: 'ABeeZee', sans-serif;
  font-size: 2em;
  font-weight: 400;
  text-align: center;
  line-height: 1.5;
  color: #fff;
}

h1 {animation: rainbow 2s ease-out infinite alternate;
  font-family: 'Baloo', sans-serif;
  font-size: 7em;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  color: #fff;
}

.wrapper {
  height: 100%;
  width: 100%;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
background-size: 1800% 1800%;

-webkit-animation: rainbow 18s ease infinite;
-z-animation: rainbow 18s ease infinite;
-o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
